<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
   <title>About Us</title>
   <link rel="shortcut icon" href="./static/images/nav-logo.png" type="image/x-icon">
</head>

<body>
   <nav class="navbar navbar-expand-lg" style="background-color: #f0d2a1;">
      <div class="container-fluid">
         <img src="./static/images/nav-logo.png" alt="Logo" width="30" class="d-inline-block align-text-top">
         <a class="navbar-brand" href="#">Team ANF</a>
         <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll"
            aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
         </button>
         <div class="collapse navbar-collapse" id="navbarScroll">
            <ul class="navbar-nav ms-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 50rem;">
               <li class="nav-item">
                  <a class="nav-link" aria-current="page" href="/">Home</a>
               </li>
               <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                     aria-expanded="false">
                     Follow us
                  </a>
                  <ul class="dropdown-menu">
                     <li><a class="dropdown-item" target="_blank" href="https://instagram.com/agninizhalgalfoundation">Instagram</a></li>
                     <li><a class="dropdown-item" target="_blank" href="https://youtube.com/@agninizhalgalfoundation">YouTube</a></li>
                     <li><a class="dropdown-item" target="_blank" href="https://fb.com/agninizhalgalfoundation">Facebook</a></li>
                     <li><a class="dropdown-item" target="_blank" href="https://twitter.com/agninizhalgal">Twitter</a></li>
                  </ul>
               </li>
               <li class="nav-item">
                  <a class="nav-link" href="/gallery">Gallery</a>
               </li>
               <li class="nav-item">
                  <a class="nav-link active" href="#">About Us</a>
               </li>
               <a type="button" href="/donate" class="btn btn-success">Donate</a>
            </ul>
         </div>
      </div>
   </nav>

   <div class="container p-4">
      <h1 class="text-center">About Us</h1>
      <p> We the youngsters of Erode District get united to make our Erode much Greener. In the name of the Agni Nizhalgal Foundation, we are going to make our dreams come true. </p>
      <p>We are proud to say that we are the followers of the vision and mission of our Nation Pride <b style="color: #65B741;">Dr. APJ Abdul Kalam Sir.</b></p>
      <p> So Agni Nizhalgal Foundation Inaugurated/started its journey on 27th July 2021 - Dr. APJ ABDUL KALAM SIR'S Memorial day.</p>
      <p>This is the beginning of our journey with huge Support from many hearts. Interested volunteers can contact us at any time. We have an option for contribution. Interested volunteers can contribute with your name, place & contact no.</p>
      <h1 class="text-center">Our Motive</h1>
      <p>Greening the Environment as much as we can!</p>
      <p>Agni Nizhalgal Foundation runs with youngsters and cannot be influenced by any other Foundations, Associations, Education Institutions, Companies, Third person and Political parties.</p>
      <p>Our Foundation will support the Idea of every member which leads to Greening the Environment and public welfare and, It also gives first priority to Government areas and Hospital areas projects.</p>
   </div>

   <footer class="py-3 my-4">
      <ul class="nav justify-content-center border-bottom pb-3 mb-3">
         <li class="nav-item"><a href="/" class="nav-link px-2 text-body-secondary">Home</a></li>
         <li class="nav-item"><a href="/gallery" class="nav-link px-2 text-body-secondary">Gallery</a></li>
         <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">About</a></li>
      </ul>
      <p class="text-center text-body-secondary">© 2021 - 2023 <a class="btn" href="https://www.nediveil.in"
            style="color: #65B741;" target="_blank">Nediveil Technologies</a></p>
   </footer>

   <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
      crossorigin="anonymous"></script>
</body>

</html>